<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691009556313-n4e2semaisjl176239d2urtkkvp2262j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691009556313-n4e2semaisjl176239d2urtkkvp2262j</string>
	<key>API_KEY</key>
	<string>AIzaSyAEUuYFpUveQxRwbMDmqPFvuItKYcTxwBg</string>
	<key>GCM_SENDER_ID</key>
	<string>691009556313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>noname.Client-App</string>
	<key>PROJECT_ID</key>
	<string>employeetest-a2b77</string>
	<key>STORAGE_BUCKET</key>
	<string>employeetest-a2b77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691009556313:ios:1968245322131b8fdf0648</string>
</dict>
</plist>